.input {
    border: 1px solid grey;
    border-radius: 0.35em;
    height: 1.4em;
    padding: 0.1em 0.35em;
    vertical-align: middle;
    &:focus {
        outline: none;
        border: 1px solid orange;
        box-shadow: 0 0px 8px orange;
    }
}

div.file {
    border: 1px solid orange;
    background-color: #fff;
    color: #e3873e;
    border-radius: 0.5em;
    display: inline-block;
    padding: 2px 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:hover {
        border: 1px solid orange;
        box-shadow: 0 0px 8px orange;
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

label.radioLabel {
    cursor: pointer;
    margin: 0 5px;
    /*隐藏input*/
    input[type="radio"] {
        vertical-align: -2px;
        opacity: 0;
        &:checked {
            + .radio {
                background-color: orange;
                border: 1px solid orange;
                box-shadow: 0 0px 8px orange;
                /*单选框选中后，自定义radio的样式*/
                &:after {
                    position: absolute;
                    content: "";
                    width: 7px;
                    height: 7px;
                    background-color: #fff;
                    border-radius: 50%;
                    top: 3px;
                    left: 3px;
                }
            }
        }
        &:disabled {
            + .radio {
                background-color: #e8e8e8;
                border:1px solid #979797;
            }
            &:checked {
                + .radio:after {
                    background-color: #c1c1c1;
                }
            }
        }
    }
    /*自定义radio*/
    .radio {
        display: inline-block;
        position: relative;
        width: 13px;
        height: 13px;
        background-color: #fff;
        border: 1px solid #979797;
        border-radius: 50%;
        vertical-align: -2px;
        margin-right: 5px;
        margin-left: -18px;
    }
}

/*自定义radio的过渡效果*/
label.radioLabel.radioAnim .radio {
    -webkit-transition:background-color ease-out .5s;
    transition:background-color ease-out .5s;
}

label.checkboxLabel {
    cursor: pointer;
    padding: 5px;
    input[type="checkbox"] {
        vertical-align: -2px;
        opacity: 0;
        &:checked {
            + .checkbox {
                background-color: orange;
                border: 1px solid orange;
                box-shadow: 0 0px 8px orange;
                &:after {
                    position: absolute;
                    content: "";
                    width:8px;
                    height: 4px;
                    border-left:2px solid #fff;
                    border-bottom: 2px solid #fff;
                    transform: rotate(-45deg) translate(-50%,-50%);
                    /*top:50%;*/
                    left:50%;
                }
            }
        }
        &:disabled {
            + .checkbox {
                background-color: #e8e8e8;
                border:1px solid #979797;
            }
            &:checked {
                + .checkbox:after {
                    border-color: #000;
                }
            }
        }
    }
    .checkbox {
        display: inline-block;
        position: relative;
        width: 13px;
        height: 13px;
        border: 1px solid grey;
        border-radius: 25%;
        background-color: white;
        vertical-align: -2px;
        margin-right: 3px;
        margin-left: -14px;
    }
}

label.checkboxLabel.checkboxAnim .checkbox {
    -webkit-transition:background-color ease-in-out .3s;
    transition:background-color ease-in-out .3s;
}

.dropdownLabel {
    margin-right: 0.5em;
}