* {
    box-sizing: initial;
    -webkit-box-sizing: initial;
}
body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

label {
    margin: 0;
}